In [1]:
import pandas as pd 
import numpy as np


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
data = pd.read_csv("Social_Network_Ads.csv")
data.head(7)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0

In [3]:
le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])
data['Gender']

0      1
1      1
2      0
3      0
4      1
      ..
395    0
396    1
397    0
398    1
399    0
Name: Gender, Length: 400, dtype: int32

In [4]:
x = data.iloc[:, :-1]

In [5]:
y = data.iloc[:, -1]

In [6]:
x

      User ID  Gender  Age  EstimatedSalary
0    15624510       1   19            19000
1    15810944       1   35            20000
2    15668575       0   26            43000
3    15603246       0   27            57000
4    15804002       1   19            76000
..        ...     ...  ...              ...
395  15691863       0   46            41000
396  15706071       1   51            23000
397  15654296       0   50            20000
398  15755018       1   36            33000
399  15594041       0   49            36000

[400 rows x 4 columns]

In [7]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [8]:
x_test, x_train, y_test, y_train = train_test_split(x , y, test_size = 0.2)

In [9]:
gb = GaussianNB()
gb.fit(x_train, y_train)
y_pred = gb.predict(x_test)

In [10]:
print(accuracy_score(y_test, y_pred))

0.884375

In [11]:
print(confusion_matrix(y_test, y_pred))

[[190  23]
 [ 14  93]]